{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <div>
        <img src="{% static 'media/climate-change.jpg' %}" height="100%" width="100%">
    </div>
</section>

<section>
    <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img class="card-img-top" src="{% static 'media/eit-climate-kic.jpg' %}">
                                </div>
                                <div class="card-content">
                                    <p>Climate KIC is a body of the European Union, which brings students from across the world
                                        together to address climate related issues.
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="#">EIT-Climate KIC</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img class="card-img-top" src="{% static 'media/trinity-library.jpg' %}">
                                </div>
                                <div class="card-content">
                                    <p>In association with Trinity College Dublin who is hosting the vitual event here in
                                        Dublin City!
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Trinity College Dublin</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img class="card-img-top" src="{% static 'media/business.jpg' %}">
                                </div>
                                <div class="card-content">
                                    <p>Check out all our buisness partners who are sponsoring the event!</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Professional Partners</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img class="card-img-top" src="{% static 'media/collaborate.jpg' %}">
                                </div>
                                <div class="card-content">
                                    <p>Sign up below to start your Climathon Journey!</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">How to take part!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="center">
    <div class="video-container video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m58IgS0z810" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section class="color">
    <div class="container">
        <div class="col s12">
            <div class="row margin">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Isabel Bailey</h5>

                        <p class="center">lorem ipsum</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">portrait</i></h2>
                        <h5 class="center">Jayesh Agarwal</h5>

                        <p class="light center">Lorem Ipsum</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="small material-icons">home</i></h2>
                        <h5 class="center">Karl Timmins</h5>

                        <p class="center">Lorem Ipsum</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="small material-icons">home</i></h2>
                        <h5 class="center">Klara Krowley</h5>
        
                        <p class="center">Lorem Ipsum</p>
                    </div>
                </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="small material-icons">home</i></h2>
                            <h5 class="center">Rachana Gupta</h5>
            
                            <p class="center">Lorem Ipsum</p>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}