{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <div>
        <img src="{% static 'media/climate-change.jpg' %}" height="100%" width="100%">
    </div>
</section>

<section class="center">
    <div class="video-container video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m58IgS0z810" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section class="color">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Isabel Bailey</h5>

                        <p class="center">lorem ipsum</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">portrait</i></h2>
                        <h5 class="center">Jayesh Agarwal</h5>

                        <p class="light center">Lorem Ipsum</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="small material-icons">home</i></h2>
                        <h5 class="center">Karl Timmins</h5>

                        <p class="center">Lorem Ipsum</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="small material-icons">home</i></h2>
                        <h5 class="center">Klara Krowley</h5>
        
                        <p class="center">Lorem Ipsum</p>
                    </div>
                </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="small material-icons">home</i></h2>
                            <h5 class="center">Rachana Gupta</h5>
            
                            <p class="center">Lorem Ipsum</p>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}